{% extends "base_generic.html" %}

{% block content %}
<form action="" method="post" enctype="multipart/form-data" style="max-width: 500px; margin: auto;">
    {% csrf_token %}

    <p class="h3 mb-3">Profileinstellungen</p>
    <p>Hier kannst du einige Daten zu deinem Profil anpassen.</p>
    {% if user.birthday == None %}
    <p><small>Du hast zum Beispiel noch nicht dein Geburtstag eingetragen.
       Mit dieser Info kann auf der Wunschliste nicht nur die Zeit bis Weihnachten, 
       sondern auch bis zu deinem Geburtstag berechnet werden.</small></p>
    {% endif %}

    <div class="form-floating mb-3">
        {{ form.first_name }}
        <label for="{{ form.first_name.id_for_label }}">Vorname</label>
        {{ form.first_name.errors }}
    </div>
    <div class="form-floating mb-3">
        {{ form.last_name }}
        <label for="{{ form.last_name.id_for_label }}">Nachname</label>
        {{ form.last_name.errors }}
    </div>
    <div class="form-floating mb-3">
        {{ form.birthday }}
        <label for="{{ form.birthday.id_for_label }}">Geburtstag <small>(JJJJ-MM-TT)</small></label>
        {{ form.birthday.errors }}
    </div>
    <div class="mb-3">
        {{ form.image }}
        {{ form.image.errors }}
    </div>

    <div class="mb-3">
        <input type="submit" class="btn btn-success me-2" value="Speichern">
        <a href="{% url 'profile' %}" class="btn btn-outline-secondary">Zurück</a>
    </div>
</form>
{% endblock %}