{% extends "base_generic.html" %}


{% block content %}

<h2>{% if user.id == wishlist_user_id %}Mein{% else %}{{ wishlist_user_name }}s{% endif %} Wunschzettel</h2>
<small>
<p class="mb-0">{{ wish_list.count }} Wünsche im Wert von € {{ total }}</p>
<p>Nächstes Ereignis: <strong>{{ next_event_name }} am {{ next_event_date }}</strong> (in {{ days_to_next_event }} Tagen)</p>
</small>

{% load static %}
{% if wish_list %}
    {% for wish in wish_list %}
        <div class="card">
            {% if wish.image %}
            <img src="{{ wish.image.url }}" class="card-img-top">
            {% else %}
            <div class="card-img-noimg"></div>
            {% endif %}
            <div class="card-body vstack">
                {% if wish.shop_url %}
                <a href="{{ wish.shop_url }}" class="card-title-link" target="_blank">
                    <h5 class="card-title">{{ wish.name }}</h5>
                </a>
                {% else %}
                <h5 class="card-title">{{ wish.name }}</h5>
                {% endif %}
                <p class="card-text mb-auto">{{ wish.description }}</p>
                <p class="card-price mt-2 text-center">€ {{ wish.price }}</p>
                {% if user == wish.user %}
                <div class="hstack gap-2 overflow-hidden">
                    <a href="{{ wish.get_absolute_url }}/update" class="button button-secondary text-center ms-auto">Bearbeiten</a>
                    <a href="{{ wish.get_absolute_url }}/delete" class="button button-red text-center me-auto"><i class="fas fa-trash-alt"></i></a>
                </div>
                {% elif wish.gifter %}
                <div class="hstack">
                    {% if wish.gifter.image %}
                    <img src="{{ wish.gifter.image.url }}" class="rounded-circle profile-img ms-auto">
                    {% else %}
                    <div class="rounded-circle ms-auto" style="height: 44px; width: 44px; color: #fff; background-color: #ccc; padding: 10px 13px;">
                        <i class="fas fa-images"></i>
                    </div>
                    {% endif %}
                    <span class="ms-2 me-2">{{ wish.gifter.first_name }}</span>
                    <a href="{{ wish.get_absolute_url }}/cancel" class="btn-close me-auto"></a>
                </div>
                {% else %}
                <a href="{{ wish.get_absolute_url }}/reserve" class="button button-secondary text-center">Schenken</a>
                {% endif %}
            </div>
        </div>
    {% endfor %}
{% else %}
<div class="alert alert-warning" role="alert">
    No wishes on this wishlist.
</div>
{% endif %}

{% if user.id == wishlist_user_id %}
<div class="card">
    <img src="{% static 'images/new.png' %}" class="card-img-top" style="object-fit: none;">
    <div class="card-body vstack">
        <p class="card-text text-center mb-auto">Füge einen weiteren Wunsch zu deiner Liste hinzu.</p>
        <a href="{% url 'wish-create' %}" class="button button-secondary text-center">Neuen Wunsch hinzufügen</a>
    </div>
</div>
{% else %}
<div class="card">
    <img src="{% static 'images/new.png' %}" class="card-img-top" style="object-fit: none;">
    <div class="card-body vstack">
        <p class="card-text text-center mb-auto">Füge ein eigenes Geschenk der Liste hinzu <small>(dieses wird direkt als reserviert markiert).</small></p>
        <a href="#" class="button button-secondary text-center">Eigenes Geschenk hinzufügen</a>
    </div>
</div>
{% endif %}

{% endblock %}