{% extends "base_generic.html" %}

{% block content %}

<form action="" method="post" enctype="multipart/form-data" style="max-width: 500px; margin: auto;">
    {% csrf_token %}
    <p>Du möchtest Giraffe den folgenden Wunsch erfüllen?</p>
    <div class="form-floating mb-3">
        {{ form.name }}
        <label for="{{ form.name.id_for_label }}">Name</label>
        {{ form.name.errors }}
    </div>
    <div class="form-floating mb-3">
        {{ form.description }}
        <label for="{{ form.description.id_for_label }}">Beschreibung</label>
        {{ form.description.errors }}
    </div>
    <div class="form-floating mb-3">
        {{ form.price }}
        <label for="{{ form.price.id_for_label }}">Preis</label>
        {{ form.price.errors }}
    </div>
    <div class="mb-3">
        {{ form.user }}
        {{ form.gifter }}
    </div>
    <div class="mb-3">
        <input type="submit" class="btn btn-success me-2" value="Das möchte ich schenken!">
        <a href="{% url 'wishlist' form.user.value %}" class="btn btn-outline-secondary">Abbrechen</a>
    </div>
</form>

{% endblock %}